<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if(users.length > 0) { %>
            <h2>User(s) :</h2>
            <% for (let user of users) { %>
                <ul class='user-list'>
                    <li><%= user.userName %></li>
                </ul>
            <% } %>
        <% } else { %>
            <h2>No Users Found...</h2>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>
